@import "tailwindcss";

@keyframes unwrap {
    0% {
      transform: scaleY(0);
      transform-origin: top;
      opacity: 0;
    }
    100% {
      transform: scaleY(1);
      transform-origin: top;
      opacity: 1;
    }
  }
  
  @keyframes wrap {
    0% {
      transform: scaleY(1);
      transform-origin: top;
      opacity: 1;
    }
    100% {
      transform: scaleY(0);
      transform-origin: top;
      opacity: 0;
    }
  }
  
  .unwrap {
    animation: unwrap 0.4s ease-out forwards;
  }
  .wrap {
    animation: wrap 0.4s ease-in forwards;
  }
  

  @keyframes dotSpin {
    0% {
      transform: rotate(0deg);
    }
    20% {
      transform: rotate(72deg);
    }
    40% {
      transform: rotate(144deg);
    }
    60% {
      transform: rotate(216deg);
    }
    80% {
      transform: rotate(288deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .animate-dotSpin {
    animation: dotSpin 1.2s linear infinite;
  }
  

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
  }

  .bg-blue-gradient{
    background: linear-gradient(to top, #87cfeb6b, #e0f7ff00);
  }

  .bg-pink-gradient{
    background: linear-gradient(to top, #ffc1d984, #ffeaf300);
  }

  .offer-ribbon{
    background: linear-gradient(to right, #ffd6d9, #fff2e6, #f2e6ff);
  }

  .clip-left-ribbon {
    clip-path: polygon(100% 0%, 0% 50%, 100% 100%);
  }
  
  .clip-right-ribbon {
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
  }
  

  :root {

  }